<!-- Begin Site Title
================================================== -->
<div class="container">
    <div class="mainheading">
        <h1 class="sitetitle">The team intelligence library</h1>
        <p class="lead">
            Registr is a smart posts aggregator and library for your team.
        </p>
        <form class="form-inline my-2 my-lg-0 mt-3">
            <input class="form-control mr-sm-2" type="text" placeholder="Enter your email">
            <a href="#" class="btn subscribe">Let's started</a>
        </form>

       <svg class="heroLead" viewBox="0 0 1028 697" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
        <path d="M670.587 174.506L653.497 182.594L668.622 171.284C666.164 167.447 663.402 163.813 660.364 160.417L586.247 178.839L653.195 153.301C650.136 150.601 646.887 148.125 643.473 145.891L530.537 164.082C518.546 179.076 512.009 197.702 512 216.902H682C681.993 202.012 678.056 187.387 670.587 174.506Z" fill="#F2F2F2"/>
        <path d="M684.123 50.1954C616.19 17.0619 541.583 -0.107011 466 8.97498e-06C312.17 8.97498e-06 174.639 69.7527 83.2897 179.349C239.716 145.074 512.067 85.7432 684.123 50.1954Z" fill="#F2F2F2"/>
        <path d="M698.5 695.902H269.5V55.9019H698.5V695.902ZM271.5 693.902H696.5V57.9019H271.5V693.902Z" fill="#2F2E41"/>
        <path d="M698 71.0831H271V73.0831H698V71.0831Z" fill="#2F2E41"/>
        <path d="M282 67.9019C284.209 67.9019 286 66.1111 286 63.9019C286 61.6928 284.209 59.9019 282 59.9019C279.791 59.9019 278 61.6928 278 63.9019C278 66.1111 279.791 67.9019 282 67.9019Z" fill="#273644"/>
        <path d="M293 67.9019C295.209 67.9019 297 66.1111 297 63.9019C297 61.6928 295.209 59.9019 293 59.9019C290.791 59.9019 289 61.6928 289 63.9019C289 66.1111 290.791 67.9019 293 67.9019Z" fill="#273644"/>
        <path d="M304 67.9019C306.209 67.9019 308 66.1111 308 63.9019C308 61.6928 306.209 59.9019 304 59.9019C301.791 59.9019 300 61.6928 300 63.9019C300 66.1111 301.791 67.9019 304 67.9019Z" fill="#273644"/>
        <path d="M369 163.902H291C288.239 163.902 286 166.14 286 168.902C286 171.663 288.239 173.902 291 173.902H369C371.761 173.902 374 171.663 374 168.902C374 166.14 371.761 163.902 369 163.902Z" fill="#2F4152"/>
        <path d="M604 94.9019L682 94.9019C684.761 94.9019 687 92.6633 687 89.9019C687 87.1405 684.761 84.9019 682 84.9019L604 84.9019C601.239 84.9019 599 87.1405 599 89.9019C599 92.6633 601.239 94.9019 604 94.9019Z" fill="#F2F2F2"/>
        <path d="M434 180.902H286V186.902H434V180.902Z" fill="#F2F2F2"/>
        <path d="M426 193.902H286V199.902H426V193.902Z" fill="#F2F2F2"/>
        <path d="M388 206.902H286V212.902H388V206.902Z" fill="#F2F2F2"/>
        <path d="M378 384.902H320V390.902H378V384.902Z" fill="#F2F2F2"/>
        <path d="M374.865 397.902H320V403.902H374.865V397.902Z" fill="#F2F2F2"/>
        <path d="M359.973 410.902H320V416.902H359.973V410.902Z" fill="#F2F2F2"/>
        <path d="M513 384.902H455V390.902H513V384.902Z" fill="#F2F2F2"/>
        <path d="M509.865 397.902H455V403.902H509.865V397.902Z" fill="#F2F2F2"/>
        <path d="M494.973 410.902H455V416.902H494.973V410.902Z" fill="#F2F2F2"/>
        <path d="M653 384.902H595V390.902H653V384.902Z" fill="#F2F2F2"/>
        <path d="M649.865 397.902H595V403.902H649.865V397.902Z" fill="#F2F2F2"/>
        <path d="M634.973 410.902H595V416.902H634.973V410.902Z" fill="#F2F2F2"/>
        <path d="M493 611.902H415C412.239 611.902 410 614.14 410 616.902C410 619.663 412.239 621.902 415 621.902H493C495.761 621.902 498 619.663 498 616.902C498 614.14 495.761 611.902 493 611.902Z" fill="#2F4152"/>
        <path d="M558 628.902H410V634.902H558V628.902Z" fill="#F2F2F2"/>
        <path d="M550 641.902H410V647.902H550V641.902Z" fill="#F2F2F2"/>
        <path d="M512 654.902H410V660.902H512V654.902Z" fill="#F2F2F2"/>
        <path opacity="0.3" d="M660.5 271.902H312.5V273.902H660.5V271.902Z" fill="#909AA4"/>
        <path opacity="0.3" d="M381 306.902H317C314.239 306.902 312 309.14 312 311.902V367.902C312 370.663 314.239 372.902 317 372.902H381C383.761 372.902 386 370.663 386 367.902V311.902C386 309.14 383.761 306.902 381 306.902Z" fill="#2F4152"/>
        <path d="M516 306.902H452C449.239 306.902 447 309.14 447 311.902V367.902C447 370.663 449.239 372.902 452 372.902H516C518.761 372.902 521 370.663 521 367.902V311.902C521 309.14 518.761 306.902 516 306.902Z" fill="#2F4152"/>
        <path d="M656 306.902H592C589.239 306.902 587 309.14 587 311.902V367.902C587 370.663 589.239 372.902 592 372.902H656C658.761 372.902 661 370.663 661 367.902V311.902C661 309.14 658.761 306.902 656 306.902Z" fill="#2F4152"/>
        <path d="M474.359 372.625L473.382 372.605C473.403 371.524 474.013 346.044 484.045 339.001L484.605 339.8C474.979 346.559 474.363 372.365 474.359 372.625Z" fill="#F2F2F2"/>
        <path d="M489.206 338.679C491.902 338.679 494.088 336.494 494.088 333.798C494.088 331.102 491.902 328.917 489.206 328.917C486.51 328.917 484.325 331.102 484.325 333.798C484.325 336.494 486.51 338.679 489.206 338.679Z" fill="#F2F2F2"/>
        <path d="M488.219 351.034C485.68 351.831 482.976 351.948 480.378 351.372C482.028 349.272 484.25 347.693 486.776 346.826C489.303 345.96 492.026 345.842 494.618 346.488C492.92 348.537 490.713 350.105 488.219 351.034Z" fill="#F2F2F2"/>
        <path d="M653 520H595V526H653V520Z" fill="#F2F2F2"/>
        <path d="M649.865 533H595V539H649.865V533Z" fill="#F2F2F2"/>
        <path d="M634.973 546H595V552H634.973V546Z" fill="#F2F2F2"/>
        <path d="M656 442H592C589.239 442 587 444.239 587 447V503C587 505.761 589.239 508 592 508H656C658.761 508 661 505.761 661 503V447C661 444.239 658.761 442 656 442Z" fill="#2F4152"/>
        <path d="M614.359 507.723L613.382 507.704C613.403 506.622 614.013 481.142 624.044 474.1L624.605 474.899C614.979 481.657 614.363 507.463 614.359 507.723Z" fill="#F2F2F2"/>
        <path d="M629.206 473.777C631.902 473.777 634.088 471.592 634.088 468.896C634.088 466.2 631.902 464.015 629.206 464.015C626.51 464.015 624.325 466.2 624.325 468.896C624.325 471.592 626.51 473.777 629.206 473.777Z" fill="#F2F2F2"/>
        <path d="M628.219 486.132C625.68 486.929 622.976 487.046 620.378 486.47C622.028 484.37 624.25 482.791 626.776 481.925C629.303 481.058 632.026 480.94 634.618 481.586C632.92 483.635 630.713 485.203 628.219 486.132Z" fill="#F2F2F2"/>
        <path d="M513 520H455V526H513V520Z" fill="#F2F2F2"/>
        <path d="M509.865 533H455V539H509.865V533Z" fill="#F2F2F2"/>
        <path d="M494.973 546H455V552H494.973V546Z" fill="#F2F2F2"/>
        <path d="M516 442H452C449.239 442 447 444.239 447 447V503C447 505.761 449.239 508 452 508H516C518.761 508 521 505.761 521 503V447C521 444.239 518.761 442 516 442Z" fill="#2F4152"/>
        <path d="M474.359 507.723L473.382 507.704C473.403 506.622 474.013 481.142 484.044 474.1L484.605 474.899C474.979 481.657 474.363 507.463 474.359 507.723Z" fill="#F2F2F2"/>
        <path d="M489.206 473.777C491.902 473.777 494.088 471.592 494.088 468.896C494.088 466.2 491.902 464.015 489.206 464.015C486.51 464.015 484.325 466.2 484.325 468.896C484.325 471.592 486.51 473.777 489.206 473.777Z" fill="#F2F2F2"/>
        <path d="M488.219 486.132C485.68 486.929 482.976 487.046 480.378 486.47C482.028 484.37 484.25 482.791 486.776 481.925C489.303 481.058 492.026 480.94 494.618 481.586C492.92 483.635 490.713 485.203 488.219 486.132Z" fill="#F2F2F2"/>
        <path d="M378 520H320V526H378V520Z" fill="#F2F2F2"/>
        <path d="M374.865 533H320V539H374.865V533Z" fill="#F2F2F2"/>
        <path d="M359.973 546H320V552H359.973V546Z" fill="#F2F2F2"/>
        <path d="M381 442H317C314.239 442 312 444.239 312 447V503C312 505.761 314.239 508 317 508H381C383.761 508 386 505.761 386 503V447C386 444.239 383.761 442 381 442Z" fill="#2F4152"/>
        <path d="M339.359 507.723L338.382 507.704C338.403 506.622 339.013 481.142 349.044 474.1L349.605 474.899C339.979 481.657 339.363 507.463 339.359 507.723Z" fill="#F2F2F2"/>
        <path d="M354.206 473.777C356.902 473.777 359.088 471.592 359.088 468.896C359.088 466.2 356.902 464.015 354.206 464.015C351.51 464.015 349.325 466.2 349.325 468.896C349.325 471.592 351.51 473.777 354.206 473.777Z" fill="#F2F2F2"/>
        <path d="M353.219 486.132C350.68 486.929 347.976 487.046 345.378 486.47C347.028 484.37 349.25 482.791 351.776 481.925C354.303 481.058 357.026 480.94 359.618 481.586C357.92 483.635 355.713 485.203 353.219 486.132Z" fill="#F2F2F2"/>
        <path d="M614.359 372.625L613.382 372.605C613.403 371.524 614.014 346.044 624.045 339.001L624.605 339.8C614.979 346.559 614.363 372.365 614.359 372.625Z" fill="#F2F2F2"/>
        <path d="M629.206 338.679C631.902 338.679 634.088 336.494 634.088 333.798C634.088 331.102 631.902 328.917 629.206 328.917C626.51 328.917 624.325 331.102 624.325 333.798C624.325 336.494 626.51 338.679 629.206 338.679Z" fill="#F2F2F2"/>
        <path d="M628.219 351.034C625.68 351.831 622.976 351.948 620.378 351.372C622.028 349.272 624.25 347.693 626.776 346.826C629.303 345.96 632.026 345.842 634.618 346.488C632.92 348.537 630.713 350.105 628.219 351.034V351.034Z" fill="#F2F2F2"/>
        <path d="M167.5 661.402C211.13 661.402 246.5 626.032 246.5 582.402C246.5 538.771 211.13 503.402 167.5 503.402C123.87 503.402 88.5 538.771 88.5 582.402C88.5 626.032 123.87 661.402 167.5 661.402Z" fill="#21303F"/>
        <path d="M155.5 644.402H131.5V687.402H155.5V644.402Z" fill="#21303F"/>
        <path d="M203.5 644.402H179.5V687.402H203.5V644.402Z" fill="#21303F"/>
        <path d="M151.5 695.402C162.546 695.402 171.5 692.044 171.5 687.902C171.5 683.76 162.546 680.402 151.5 680.402C140.454 680.402 131.5 683.76 131.5 687.902C131.5 692.044 140.454 695.402 151.5 695.402Z" fill="#21303F"/>
        <path d="M199.5 694.402C210.546 694.402 219.5 691.044 219.5 686.902C219.5 682.76 210.546 679.402 199.5 679.402C188.454 679.402 179.5 682.76 179.5 686.902C179.5 691.044 188.454 694.402 199.5 694.402Z" fill="#21303F"/>
        <path d="M169.5 589.402C184.412 589.402 196.5 577.314 196.5 562.402C196.5 547.49 184.412 535.402 169.5 535.402C154.588 535.402 142.5 547.49 142.5 562.402C142.5 577.314 154.588 589.402 169.5 589.402Z" fill="white"/>
        <path d="M169.5 559.402C174.471 559.402 178.5 555.372 178.5 550.402C178.5 545.431 174.471 541.402 169.5 541.402C164.529 541.402 160.5 545.431 160.5 550.402C160.5 555.372 164.529 559.402 169.5 559.402Z" fill="#21303F"/>
        <path d="M238.522 500.212C247.715 480.428 250.132 462.051 243.922 459.165C237.711 456.279 225.224 469.977 216.031 489.761C206.838 509.544 204.42 527.922 210.631 530.808C216.842 533.694 229.329 519.995 238.522 500.212Z" fill="#21303F"/>
        <path d="M100.756 553.897C106.808 550.693 103.442 532.466 93.236 513.185C83.0303 493.904 69.8501 480.872 63.7972 484.075C57.7444 487.279 61.111 505.507 71.3168 524.787C81.5225 544.068 94.7027 557.101 100.756 553.897Z" fill="#21303F"/>
        <path d="M834.209 560.509C840.599 558.046 839.419 539.548 831.574 519.192C823.728 498.837 812.187 484.332 805.797 486.795C799.407 489.258 800.587 507.756 808.433 528.112C816.278 548.467 827.819 562.972 834.209 560.509Z" fill="#21303F"/>
        <path d="M893.19 662.104C936.82 662.104 972.19 626.734 972.19 583.104C972.19 539.473 936.82 504.104 893.19 504.104C849.559 504.104 814.19 539.473 814.19 583.104C814.19 626.734 849.559 662.104 893.19 662.104Z" fill="#21303F"/>
        <path d="M905.48 688.066L929.48 687.999L929.36 644.999L905.36 645.066L905.48 688.066Z" fill="#21303F"/>
        <path d="M857.484 688.204L881.484 688.137L881.363 645.137L857.363 645.204L857.484 688.204Z" fill="#21303F"/>
        <path d="M909.506 696.058C920.552 696.027 929.497 692.645 929.485 688.502C929.473 684.36 920.51 681.028 909.464 681.058C898.418 681.089 889.474 684.472 889.485 688.614C889.497 692.757 898.46 696.089 909.506 696.058Z" fill="#21303F"/>
        <path d="M26 321.5C26 306.312 38.3122 294 53.5 294H210.5C225.688 294 238 306.312 238 321.5V321.5C238 336.688 225.688 349 210.5 349H53.5C38.3122 349 26 336.688 26 321.5V321.5Z" fill="url(#paint0_linear)"/>
        <path d="M861.503 695.193C872.549 695.162 881.494 691.779 881.482 687.637C881.471 683.495 872.507 680.162 861.461 680.193C850.416 680.224 841.471 683.607 841.483 687.749C841.494 691.891 850.458 695.224 861.503 695.193Z" fill="#21303F"/>
        <path d="M891.134 590.109C906.045 590.109 918.134 578.021 918.134 563.109C918.134 548.198 906.045 536.109 891.134 536.109C876.222 536.109 864.134 548.198 864.134 563.109C864.134 578.021 876.222 590.109 891.134 590.109Z" fill="white"/>
        <path d="M891.134 572.109C896.104 572.109 900.134 568.08 900.134 563.109C900.134 558.139 896.104 554.109 891.134 554.109C886.163 554.109 882.134 558.139 882.134 563.109C882.134 568.08 886.163 572.109 891.134 572.109Z" fill="#3F3D56"/>
        <path d="M987.412 557.387C1007.1 547.984 1020.66 535.351 1017.71 529.171C1014.76 522.992 996.406 525.606 976.722 535.009C957.037 544.413 943.473 557.046 946.425 563.225C949.377 569.405 967.728 566.791 987.412 557.387Z" fill="#21303F"/>
        <path d="M932.074 611.495C932.095 619.227 912.23 634.551 890.138 634.613C868.047 634.675 847.273 612.965 847.251 605.233C847.23 597.501 867.969 606.675 890.06 606.613C912.151 606.551 932.052 603.763 932.074 611.495Z" fill="white"/>
        <path d="M190.405 471.59C234.035 471.59 269.405 436.221 269.405 392.59C269.405 348.96 234.035 313.59 190.405 313.59C146.774 313.59 111.405 348.96 111.405 392.59C111.405 436.221 146.774 471.59 190.405 471.59Z" fill="#21303F"/>
        <path d="M167.552 451.461L143.936 447.186L136.277 489.498L159.893 493.773L167.552 451.461Z" fill="#21303F"/>
        <path d="M214.785 460.011L191.169 455.736L183.509 498.048L207.125 502.324L214.785 460.011Z" fill="#21303F"/>
        <path d="M214.698 518.43C217.374 515.269 212.711 506.92 204.282 499.781C195.853 492.643 186.85 489.418 184.173 492.579C181.496 495.74 186.159 504.09 194.588 511.228C203.017 518.367 212.021 521.591 214.698 518.43Z" fill="#21303F"/>
        <path d="M167.449 511.058C170.126 507.897 165.463 499.548 157.034 492.409C148.605 485.271 139.602 482.046 136.925 485.207C134.248 488.368 138.911 496.717 147.34 503.856C155.769 510.994 164.772 514.219 167.449 511.058Z" fill="#21303F"/>
        <path d="M195.936 400.266C210.847 400.266 222.936 388.178 222.936 373.266C222.936 358.355 210.847 346.266 195.936 346.266C181.024 346.266 168.936 358.355 168.936 373.266C168.936 388.178 181.024 400.266 195.936 400.266Z" fill="white"/>
        <path d="M207.032 372.588C212.003 372.588 216.032 368.559 216.032 363.588C216.032 358.618 212.003 354.588 207.032 354.588C202.062 354.588 198.032 358.618 198.032 363.588C198.032 368.559 202.062 372.588 207.032 372.588Z" fill="#21303F"/>
        <path d="M266.121 390.284C287.385 385.41 303.382 376.048 301.852 369.373C300.322 362.697 281.844 361.237 260.58 366.111C239.316 370.985 223.319 380.347 224.849 387.023C226.379 393.698 244.857 395.158 266.121 390.284Z" fill="#21303F"/>
        <path d="M111.047 416.073C132.311 411.199 148.308 401.836 146.778 395.161C145.248 388.486 126.77 387.025 105.506 391.899C84.2421 396.773 68.2447 406.136 69.7748 412.811C71.3049 419.487 89.7831 420.947 111.047 416.073Z" fill="#21303F"/>
        <path d="M168.707 423.723C167.857 428.421 168.908 433.264 171.628 437.187C174.348 441.11 178.516 443.791 183.213 444.642C187.911 445.492 192.754 444.441 196.677 441.721C200.6 439.001 203.281 434.833 204.132 430.136C205.902 420.354 198.339 416.892 188.557 415.121C178.775 413.351 170.478 413.941 168.707 423.723Z" fill="white"/>
        <path d="M371.629 326.981L310.325 308.602C307.679 307.809 304.892 309.311 304.099 311.956L288.018 365.597C287.225 368.242 288.726 371.029 291.371 371.822L352.675 390.201C355.321 390.994 358.108 389.493 358.901 386.848L374.982 333.207C375.775 330.562 374.274 327.774 371.629 326.981Z" fill="#2F4152"/>
        <path d="M312.868 377.977L311.938 377.679C312.269 376.649 320.17 352.417 331.801 348.552L332.109 349.478C320.947 353.188 312.947 377.73 312.868 377.977Z" fill="#F2F2F2"/>
        <path d="M338.24 349.931C340.936 349.931 343.121 347.746 343.121 345.05C343.121 342.354 340.936 340.169 338.24 340.169C335.544 340.169 333.358 342.354 333.358 345.05C333.358 347.746 335.544 349.931 338.24 349.931Z" fill="#F2F2F2"/>
        <path d="M332.345 361.276C329.684 361.311 327.06 360.646 324.736 359.349C326.92 357.811 329.502 356.936 332.171 356.832C334.84 356.727 337.482 357.397 339.779 358.759C337.564 360.235 335.001 361.103 332.345 361.276V361.276Z" fill="#F2F2F2"/>
        <path d="M709 481.5C709 466.312 721.312 454 736.5 454H819.5C834.688 454 847 466.312 847 481.5V481.5C847 496.688 834.688 509 819.5 509H736.5C721.312 509 709 496.688 709 481.5V481.5Z" fill="url(#paint1_linear)"/>
        <path d="M635 240.5C635 225.312 647.312 213 662.5 213L774.5 213C789.688 213 802 225.312 802 240.5V240.5C802 255.688 789.688 268 774.5 268H662.5C647.312 268 635 255.688 635 240.5V240.5Z" fill="url(#paint2_linear)"/>
        <path d="M623 633.5C623 618.312 635.312 606 650.5 606H746.5C761.688 606 774 618.312 774 633.5V633.5C774 648.688 761.688 661 746.5 661H650.5C635.312 661 623 648.688 623 633.5V633.5Z" fill="url(#paint3_linear)"/>
        <rect x="567" y="121" width="62" height="96" rx="2" fill="#909AA4"/>
        </g>
        <path d="M285 90.8591C285 88.1755 287.176 86 289.859 86H300.315C302.999 86 305.175 88.1755 305.175 90.8591V90.8591C305.175 93.5428 302.999 95.7183 300.315 95.7183H289.859C287.176 95.7183 285 93.5428 285 90.8591V90.8591Z" fill="url(#paint4_linear)"/>
        <path d="M292.996 90.8591C292.996 88.1755 295.172 86 297.855 86H308.312C310.995 86 313.171 88.1755 313.171 90.8591V90.8591C313.171 93.5428 310.995 95.7183 308.312 95.7183H297.855C295.172 95.7183 292.996 93.5428 292.996 90.8591V90.8591Z" fill="url(#paint5_linear)"/>
        <path d="M300.992 90.8591C300.992 88.1755 303.168 86 305.851 86H311.141C313.825 86 316 88.1755 316 90.8591V90.8591C316 93.5428 313.825 95.7183 311.141 95.7183H305.851C303.168 95.7183 300.992 93.5428 300.992 90.8591V90.8591Z" fill="url(#paint6_linear)"/>
        <defs>
        <linearGradient id="paint0_linear" x1="26" y1="321.848" x2="260" y2="322" gradientUnits="userSpaceOnUse">
        <stop stop-color="#CB26F4"/>
        <stop offset="1" stop-color="#5266EE"/>
        </linearGradient>
        <linearGradient id="paint1_linear" x1="746" y1="482" x2="1107.99" y2="480.179" gradientUnits="userSpaceOnUse">
        <stop stop-color="#0AD3CD"/>
        <stop offset="1" stop-color="#FF099E"/>
        </linearGradient>
        <linearGradient id="paint2_linear" x1="635" y1="240.848" x2="763" y2="241" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FBB726"/>
        <stop offset="1" stop-color="#2EE698"/>
        </linearGradient>
        <linearGradient id="paint3_linear" x1="623" y1="633.848" x2="865.087" y2="656.639" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FBBA24"/>
        <stop offset="1" stop-color="#FF099E"/>
        </linearGradient>
        <linearGradient id="paint4_linear" x1="285" y1="90.9206" x2="296.01" y2="90.9206" gradientUnits="userSpaceOnUse">
        <stop stop-color="#CB26F4"/>
        <stop offset="1" stop-color="#5266EE"/>
        </linearGradient>
        <linearGradient id="paint5_linear" x1="292.996" y1="90.9206" x2="322.157" y2="90.5359" gradientUnits="userSpaceOnUse">
        <stop stop-color="#0AD3CD"/>
        <stop offset="1" stop-color="#FF099E"/>
        </linearGradient>
        <linearGradient id="paint6_linear" x1="300.992" y1="90.9206" x2="325.199" y2="92.2025" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FBBA24"/>
        <stop offset="1" stop-color="#FF099E"/>
        </linearGradient>
        <clipPath id="clip0">
        <rect width="1027.5" height="696.059" fill="white"/>
        </clipPath>
        </defs>
        </svg>

    </div>
    <!-- End Site Title
    ================================================== -->
</div>
<!-- Begin Featured
================================================== -->
<section class="home-featured mt-5 pt-5 pb-5">
    <div class="container mt-5">
        <h3 class="text-center">Your collaborative intelligence</h3>
        <p class="text-center">Business intelligence, brain-Food articles, design strategy: build a shared knowledge base with no efforts.</p>
        <hr class="mt-5"/>
        <div class="row">
            <div class="col-lg-4 mt-5">
                <img class="text-center" src="./assets/img/step1.svg" height="104px" alt="">
                <h4 class="mt-4">Collect & aggregate content</h4>
                <p>Collect and paste the links of articles that makes sense in a single place for your team easily.</p>
            </div>
            <div class="col-lg-4 mt-5">
                <img src="./assets/img/step2.svg" height="104px" alt="">
                <h4 class="mt-4">Organise like you need</h4>
                <p>Build shared intelligence in Registr happens in tags, organised by project, topic, team or whatever makes sense for you.</p>
            </div>
            <div class="col-lg-4 mt-5">
                <img class="text-center" src="./assets/img/step3.svg" height="104px" alt="">
                <h4 class="mt-4">Get related content smartly</h4>
                <p>Registr grab for you related related content on the web to propose high value content, your are free to add it in you library !</p>
            </div>
        </div>
    </div>
</section>
<!-- End Featured
================================================== -->

<section class=" mt-5 pt-5 pb-5">
    <div class="container mt-5">
        <h3 class="text-center">They are smart like you</h3>
        <p class="text-center">A lot of team around the world have already made Registr the place where their intelligence is.</p>
        <div class="row">
            <div class="col-lg-4 mt-5 align-items-center">
                <blockquote class="twitter-tweet" data-lang="fr"><p lang="en" dir="ltr">&quot;Simplicity is the ultimate competitive weapon&quot; Ken Segall<a href="https://t.co/3hrjBWfsmz">https://t.co/3hrjBWfsmz</a></p>&mdash; Wladimir Delenclos (@WDelenclos) <a href="https://twitter.com/WDelenclos/status/1050707735690457088?ref_src=twsrc%5Etfw">12 octobre 2018</a></blockquote>

            </div>
            <div class="col-lg-4 mt-5 align-items-center">
                <blockquote class="twitter-tweet" data-lang="fr"><p lang="en" dir="ltr">&quot;Simplicity is the ultimate competitive weapon&quot; Ken Segall<a href="https://t.co/3hrjBWfsmz">https://t.co/3hrjBWfsmz</a></p>&mdash; Wladimir Delenclos (@WDelenclos) <a href="https://twitter.com/WDelenclos/status/1050707735690457088?ref_src=twsrc%5Etfw">12 octobre 2018</a></blockquote>

            </div>
            <div class="col-lg-4 mt-5 align-items-center">
                <blockquote class="twitter-tweet" data-lang="fr"><p lang="en" dir="ltr">&quot;Simplicity is the ultimate competitive weapon&quot; Ken Segall<a href="https://t.co/3hrjBWfsmz">https://t.co/3hrjBWfsmz</a></p>&mdash; Wladimir Delenclos (@WDelenclos) <a href="https://twitter.com/WDelenclos/status/1050707735690457088?ref_src=twsrc%5Etfw">12 octobre 2018</a></blockquote>

            </div>

        </div>
    </div>
</section>

<%= link_to 'Posts', posts_path %>




